<p>ropadetemporada works!</p>
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Ropa de temporada</h2>
        <p>Temporada de verano </p>
      </div>

   

      <div class="row portfolio-container" data-aos="fade-up">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="https://img.ltwebstatic.com/images3_pi/2022/08/10/1660097359d30f75aeb193abce7d48473cf8e1e112_thumbnail_600x.webp" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="https://img.ltwebstatic.com/images3_pi/2022/08/10/1660097359d30f75aeb193abce7d48473cf8e1e112_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="https://img.ltwebstatic.com/images3_pi/2023/02/10/167602475618a1e7c13d82ca3cc959a71484073791_thumbnail_600x.webp" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="https://img.ltwebstatic.com/images3_pi/2023/02/10/167602475618a1e7c13d82ca3cc959a71484073791_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="https://img.ltwebstatic.com/images3_pi/2022/07/26/1658811524e8d28a9c772dbe083ea7d357f639b5ba_thumbnail_600x.webp" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <div class="portfolio-links">
                <a href="https://img.ltwebstatic.com/images3_pi/2022/07/26/1658811524e8d28a9c772dbe083ea7d357f639b5ba_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row portfolio-container" data-aos="fade-up">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="https://img.ltwebstatic.com/images3_pi/2022/09/09/1662705254a770a68dfe5caed35c89d8657a5c9201_thumbnail_600x.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 1</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="https://img.ltwebstatic.com/images3_pi/2022/09/09/1662705254a770a68dfe5caed35c89d8657a5c9201_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="https://img.ltwebstatic.com/images3_pi/2021/07/12/162607863012c6650a5196ea2614a09b205b241bdd_thumbnail_600x.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="https://img.ltwebstatic.com/images3_pi/2021/07/12/162607863012c6650a5196ea2614a09b205b241bdd_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="https://img.ltwebstatic.com/images3_pi/2021/06/21/162423712408bbcfb8678c6dce0746abfcf612230b_thumbnail_600x.webp" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 2</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="https://img.ltwebstatic.com/images3_pi/2021/06/21/162423712408bbcfb8678c6dce0746abfcf612230b_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>

 
      