
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Fashion Girl's</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">Mujer</a></li>
          <li><a class="nav-link scrollto" href="#services">Hombre</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Niños</a></li>
          <li><a class="nav-link scrollto" href="#team">Ropa de temporada</a></li>
          <li class="dropdown"><a href="#"><span>Novedades</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Explora</a></li>
              <li class="dropdown"><a href="#"><span>Rebajas</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Ofertas especiales</a></li>
                  <li><a href="#">Comprar por categoria</a></li>
                  <li><a href="#">Comprar por precio</a></li>
                  <li><a href="#">Marcas</a></li>
                </ul>
              </li>
              <li><a href="#">Accesorios</a></li>
              <li><a href="#">Zapatos</a></li>
              <li><a href="#">Ropa deportiva</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  