
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
       <h1><a href="index.html">Fashion Girl's</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" [routerLink]="['inicio']">Inicio</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['mujer']">Mujer</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['hombre']">Hombre</a></li>
          <li><a class="nav-link scrollto " [routerLink]="['niños']">Niños</a></li>
          <li><a class="nav-link scrollto" [routerLink]="['ropa de temporada']">Ropa de temporada</a></li>
          <li class="dropdown"><a href="#"><span>Novedades</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a [routerLink]="['explora']">Explora</a></li>
              <li><a [routerLink]="['rebajas']"><span>Rebajas</span></a>
              </li>
              <li><a [routerLink]="['accesorios']">Accesorios</a></li>
              <li><a [routerLink]="['zapatos']">Zapatos</a></li>
              <li><a [routerLink]="['ropa deportiva']">Ropa deportiva</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <br>
          <br>
          <a [routerLink]="['']" (click)="cerrarSesion()" *ngIf="usuario_activo==true">
            <i class="fa-solid fa-rigth-form-bracket"></i>cerrarSesion
          </a>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  