<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Registro</title>
</head>
<body>
    <section class="form-register">
        <h4>Iniciar sesion </h4>
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
    <p>Estoy de acuerdo con Terminos y Condiciones</p>
    <input class="botons" type="submit" value="Registrar ">
    <p><a href="registro">no tienes cuenta? Registrate!</a></p>
</section>
</body>
</html>
