<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Ropa para Mujer</h2>
        <p>Variedad de blusas para dama</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">Blusas</li>

      
            
          </ul>
        </div>
  
        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://img.ltwebstatic.com/images3_pi/2021/12/04/1638606980c2eaa32e6d1550383adf5dfd83dbe389_thumbnail_600x.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="https://img.ltwebstatic.com/images3_pi/2021/12/04/1638606980c2eaa32e6d1550383adf5dfd83dbe389_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://img.ltwebstatic.com/images3_pi/2022/05/31/165397403618d395322adbc9a7520efc325f792ea6_thumbnail_600x.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="https://img.ltwebstatic.com/images3_pi/2022/05/31/165397403618d395322adbc9a7520efc325f792ea6_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://img.ltwebstatic.com/images3_pi/2022/10/25/16666994497773a0717cf711223dc69f7ce5866b8a_thumbnail_600x.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="https://img.ltwebstatic.com/images3_pi/2022/10/25/16666994497773a0717cf711223dc69f7ce5866b8a_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row portfolio-container" data-aos="fade-up">
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="https://img.ltwebstatic.com/images3_pi/2021/12/09/1639015116638e958bbe2698b49fefa92715f1f9eb_thumbnail_600x.webp" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>App 1</h4>
                    <p>App</p>
                    <div class="portfolio-links">
                      <a href="https://img.ltwebstatic.com/images3_pi/2021/12/09/1639015116638e958bbe2698b49fefa92715f1f9eb_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                  <img src="https://img.ltwebstatic.com/images3_pi/2022/04/29/1651216649aa3e24b11b8d195fa5d5cf0b0b265df9_thumbnail_600x.webp" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <div class="portfolio-links">
                      <a href="https://img.ltwebstatic.com/images3_pi/2022/04/29/1651216649aa3e24b11b8d195fa5d5cf0b0b265df9_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="https://img.ltwebstatic.com/images3_pi/2022/05/23/165327160067a63fccc6a1efc98cec3f390550fa53_thumbnail_600x.webp" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>App 2</h4>
                    <p>App</p>
                    <div class="portfolio-links">
                      <a href="https://img.ltwebstatic.com/images3_pi/2022/05/23/165327160067a63fccc6a1efc98cec3f390550fa53_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
  