<p>rebajas works!</p>
<br>
<br>
<br>
<div class="section-title" data-aos="fade-up">
    <h2>Rebajas</h2>
    <p>NO TODOS LOS DÍAS TE SIENTES IGUAL, POR LO QUE TU ROPA TAMPOCO DEBE SER LA MISMA. PONTE LO QUE HAGA QUE TE SIENTAS BIEN CADA DÍA.
        FASHION GIRLS SE ENCARGARÁ DE ELEGIR LA MEJOR ROPA DE MUJER CON EL MEJOR PRECIO PARA QUE TE SAQUES PARTIDO A DIARIO.</p>
  </div>

  <div class="row portfolio-container" data-aos="fade-up">

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <div class="portfolio-wrap">
        <img src="https://img.ltwebstatic.com/images3_pi/2023/01/16/16738452616aae8e6c247bdaadd5e4c9daf0fb89a3_thumbnail_600x.webp" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>$199</h4>
         
          <div class="portfolio-links">
            <a href="https://img.ltwebstatic.com/images3_pi/2023/01/16/16738452616aae8e6c247bdaadd5e4c9daf0fb89a3_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
      <div class="portfolio-wrap">
        <img src="https://img.ltwebstatic.com/images3_pi/2023/01/06/1672970904f2d47be395b0c4d3ed4d5d2e56afb02b_thumbnail_600x.webp" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>$159</h4>
         
          <div class="portfolio-links">
            <a href="https://img.ltwebstatic.com/images3_pi/2023/01/06/1672970904f2d47be395b0c4d3ed4d5d2e56afb02b_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
      <div class="portfolio-wrap">
        <img src="https://img.ltwebstatic.com/images3_pi/2023/02/02/16753016134371f9d4d77b9304b3453a3116fe3b03_thumbnail_600x.webp" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>$179</h4>
          
          <div class="portfolio-links">
            <a href="https://img.ltwebstatic.com/images3_pi/2023/03/01/16776569860d5c9c67b10175fcaadc2d2d76d45271_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      </div>
    </div>
       
