
<form>
    <div>
      <label>
        Nombre
      </label>
      <br>
      <input type="text" [(ngModel)]="form.nombre"  name="nombre" placeholder="Escribe tu nombre.">
      <br><br>
      <label>
        Correo Electronico
      </label>
      <br>
      <input type="email" [(ngModel)]="form.correo" name="correo" placeholder="Escribe tu correo.">
      <br><br>
      <label>
        Contraseña
    </label>
    <br>
    <input type="password" [(ngModel)]="form.contrasena" name="contrasena" placeholder="Debe obtener 8 caracteres.">
    <br><br>
    <label>
        Confirma tu Contraseña
        </label>
        <br>
        <input type="password" [(ngModel)]="form.ccontrasena" name="ccontrasena" placeholder="Debe obtener 8 caracteres.">
        <br><br>
        <button (click)="registrarme()">Registrarme <i class="fas fa-sing-in-alt"></i></button>
  </div>
  </form>

<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Registro</title>
</head>
<body>
        <section class="form-register">
            <h4>Formulario De Registro</h4>
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
            <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
            <input class="controls" type="password" name="correo" id="correo" placeholder="verifique su Contraseña">
            <p>Estoy de acuerdo con Terminos y Condiciones</p>
            <input class="botons" type="submit" value="Registrar">
        </section>
    </body>
    </html>

