<p>zapatos works!</p>
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">

        <p>Contamos con diferentes tipos de calzado</p>
      </div>

  
        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://img.ltwebstatic.com/images3_pi/2021/12/27/164060083376c0d2bc43a3df9657ec65e2a85e39de_thumbnail_600x.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Tenis arcoiris</h4>
                <p>$779</p>
                <div class="portfolio-links">
                  <a href="https://img.ltwebstatic.com/images3_pi/2021/12/27/164060083376c0d2bc43a3df9657ec65e2a85e39de_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="https://img.ltwebstatic.com/images3_pi/2021/11/10/163654549946d6ecc240206c7f28117e5495f096e7_thumbnail_600x.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Tacones de liston blanco</h4>
                <p>$219</p>
                <div class="portfolio-links">
                  <a href="https://img.ltwebstatic.com/images3_pi/2021/11/10/163654549946d6ecc240206c7f28117e5495f096e7_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://img.ltwebstatic.com/images3_pi/2022/03/02/16462059575227745868e60a6bc27b0d1e2100e8f5_thumbnail_600x.webp" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sandalias rosa pastel</h4>
                <p>$129</p>
                <div class="portfolio-links">
                  <a href="https://img.ltwebstatic.com/images3_pi/2022/03/02/16462059575227745868e60a6bc27b0d1e2100e8f5_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row portfolio-container" data-aos="fade-up">
  
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="https://img.ltwebstatic.com/images3_pi/2022/02/25/16457559048772b4d5d6d4992f450c528d84366ec2_thumbnail_600x.webp" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Tacon bajo negro</h4>
                    <p>$300</p>
                    <div class="portfolio-links">
                      <a href="https://img.ltwebstatic.com/images3_pi/2022/02/25/16457559048772b4d5d6d4992f450c528d84366ec2_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                  <img src="https://m.media-amazon.com/images/I/61x4y+QOacL._AC_SY575_.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Tenis estilo nike rojos</h4>
                    <p>$469</p>
                    <div class="portfolio-links">
                      <a href="https://m.media-amazon.com/images/I/61x4y+QOacL._AC_SY575_.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
      
              <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                  <img src="https://img.ltwebstatic.com/images3_pi/2022/06/22/16558674087e67a986c5fcb549343d276e108d343b_thumbnail_600x.webp" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Sandalias casuales blancas</h4>
                    <p>$129</p>
                    <div class="portfolio-links">
                      <a href="https://img.ltwebstatic.com/images3_pi/2022/06/22/16558674087e67a986c5fcb549343d276e108d343b_thumbnail_600x.webp" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>